[Desktop Entry]
Name=Detour
Type=Application
Exec=detour %u
GenericName=Web Browser
Icon=firefox
Terminal=false
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
NoDisplay=false
Categories=Network;WebBrowser;
Keywords=web;browser;internet;
